<div class="top">
  <div class="description">
    <h2>Plan your day</h2>
    <h2>User: Ivan Ivanov. Count of tasks: {{tasks.length}}</h2>
  </div>
  <div class="input-box">
    <input type="text" class="text" [(ngModel)]="myTask" placeholder="Enter task">
    <button class="btn-add" (click)="addTask()">Add</button>
  </div>
</div>
<app-child [tasks]="tasks" (edit)="editTask($event)" (delete)="deleteTask($event)"></app-child>

<div *ngIf="editStatus" class="save-button">
  <input type="text" [(ngModel)]="editTaskValue" class="editTask" >
  <button type="button" (click)="saveTask()" class="updateTask">Save</button>
</div>